.power > * {
	display: inline-block;
	margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

body {
    background-color: rgb(0, 0, 0);
}

.click {
    padding: 40px;
    transform: .2s;
    width: 157px;
    height: 157px;
    margin: 0 auto;
}

.click:hover {
    transform: scale(1.8);
}

.jumbotron {
    background-image: url(http://4everstatic.com/imagenes/abstractos/cristal,-dibujo-de-pantalla-abstracto-225682.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(191, 232, 245);
    
}











